
.topnav{
    background-color: #1aeb63;
    overflow: hidden;
    color: #0a0909;
   font-size: 35px;
   
  }
  .nav-link{
    color: #eef1f7;
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    
  }

 
  

  .topnav li:hover {
    background-color: #eee7e7;
    color: rgb(129, 85, 34);
   
  }
  
 
  
  .navbar-brand{
    color: #81c481;
  }
 .item  {
    float: right;

 }

  
 .logo img{
width: 6rem;
  height: 6rem;
  border-radius: 50px;
  margin-right: 40px;
 }
  
 .container-fluid link{
    font-size: 30px;
 }
  

  @media screen and (max-width: 500px) {
    .topnav a {
      float: none;
      display: block;
    }
  }